# This workflow will generate the docs on each push, and publish them on GitHub Pages if the branch is the main one.
name: docs

on: [push]

permissions:
  contents: write

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Set up python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Set up uv
        uses: astral-sh/setup-uv@v5
        with:
          version: "0.9.11"

      - name: Set up Lilypond
        uses: codello/setup-lilypond@main
        with:
          lilypond-version: 2.24

      - name: Set up FFmpeg
        uses: FedericoCarboni/setup-ffmpeg@v3
        id: setup-ffmpeg
        with:
          ffmpeg-version: release

      - name: Install timidity (cached)
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: timidity
          version: 1.0

      - name: Install ffmpeg-normalize
        run: uv pip install --system ffmpeg-normalize

      - name: Compile files
        run: python deploy.py -s "2025-2026"

      - name: Deploy on Github Pages
        uses: JamesIves/github-pages-deploy-action@v4
        if: github.ref == 'refs/heads/main'
        with:
          BRANCH: gh-pages
          FOLDER: build/
          SINGLE-COMMIT: true
